@model IEnumerable<Bulding_Vistor_Management.Models.Tenant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenantFullnames)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenantFullnames)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TenantId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TenantId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TenantId })
        </td>
    </tr>
}

</table>
